*{
    margin: 0px;
    padding: 0px;
}
.header-section{
    width: 1920px;
    height: 800px;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}
.text-section{
    margin-left: 200PX;
    margin-top: 300PX;
}
.btn{
    height: 50px;
    width: 100px;
    margin-top: 20px;
    background: #E55473;
    border-radius: 8px;
    border: 0;
}
.btn:hover{
    
    cursor: pointer;
}
.paragraph1{
    display: flex;
    width: 634px;
    margin-top: 40px
    flex-direction: column;
}
.head-text{
    font-size: 50px;
    margin-bottom: 20px;
}
.header-image{
    margin-left: 250px;
}
.feature-text{
    text-align: center;
    margin-top: 100px;
    width: 480px;
    margin-left: 800px;
    margin-bottom: 100px;
}
.feature-paragraph{
    flex-direction: column;
    margin-top: 20px;
}

.picture{
    display: flex;
    justify-content: center;
}
.pink1{
    width: 310px;
    height: 428px;

border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

}
.pink2{
    width: 310px;
    height: 428px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 300px 300px 0px 0px;;

}
.pink3{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);

}
.img1{
    width: 464px;
    height: 538px;
}
.img2{
    width: 464px;
height: 538px;
}
.img3{
    width: 314px;
    height: 471px;
flex-shrink: 0;

}
.pink-text{
    margin-top: 20px;
    margin-left: 90px;
    font-size: 20px;
}
.feature-head{
    font-size: 40px;
}
.off-text{
    color: red;
}
.deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    padding: 80px;

}
.deal-text{
    margin-top: 170px;
    width: 594px;
    flex-direction: column;
}
.deal-img{
    width: 318px;
    height: 420px;
    margin-left: 200px;
}
.insta-pic{
    display: flex;
    margin-left: 300px;
    gap: 1rem;
}
.insta-section{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
}
.insta-paragraph{
    flex-direction: column;
}
.insta-head{
    margin-bottom: 20px;
    font-size: 40px;
}
.latest-deal{
    width: 1440px;
    height: 449px;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 290px;
}
.deals-head{
    font-size: 40px;
}
.all-about{
    text-align: center;
    padding-top: 180px;
    
}
.mail{
    width: 700px;
    height: 45px; 
    border-radius: 5px;
    background: #FFF;  
}
.section-text{
    width: 1922px;
    height: 300px;
    background-color: black;
    color: white;
}
.color{
    color: #E55473;
}
.foot-head{
    font-size: 40px;
    margin-bottom: 20px;
}
.section-text{
    margin-top: 100px;
    padding-top: 120px;
    text-align: center;
}
.reserved{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.40);
}